---
import MainLayout from "../layouts/MainLayout.astro";
import Overlay from "../components/Overlay.astro";
import { Icon } from "astro-icon/components";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import { cardContent } from "../data/card-content.js";

import { Image } from "astro:assets";
import ester from "../assets/images/ester.avif";
---

<MainLayout title="Forside">
  <Overlay header="Ester Piazza-Koldbye" />

  <section class="om-mig" id="info">
    <article class="intro">
      <Image src={ester} alt="Ester Piazza-Koldbye" />
      <div>
        <h2>About me</h2>
        <p>
          My name is Ester, and I’m a passionate Multimedia Design student at KEA, currently in my 3rd semester, with a focus on frontend development. Coding is one of my key interests, and I’m driven by the desire to create clean, efficient, and visually compelling digital solutions. I have a keen attention to detail and a strong ability to maintain an overview, which allows me to confidently take on responsibility and delegate tasks effectively.

          <br />
          <br />

          Alongside my studies, I have experience as an intro guide at KEA, where I manage our official intro guide Instagram profile and help organize large-scale events. These experiences have enhanced my skills in planning, social media management, and teamwork, all while handling tight deadlines.

          <br />
          <br />

          I thrive in collaborative environments and appreciating the learning process that comes from teamwork.
        </p>
      </div>
    </article>
  </section>

  <article class="skills">
    <div>
      <h3>Coding</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>JSON</li>
        <li>React</li>
        <li>Astro</li>
        <li>NextJS</li>
        <li>GIT</li>
      </ul>
    </div>

    <div>
      <h3>Technical skills</h3>
      <ul>
        <li>Frontend web development</li>
        <li>UX & UI design</li>
        <li>Graphic design</li>
        <li>Content creation</li>
        <li>User testing</li>
        <li>Project management</li>
      </ul>
    </div>
    <div>
      <h3>Tools / Others</h3>
      <ul>
        <li>Visual Studio Code</li>
        <li>Adobe Creative Cloud</li>
        <li>Github</li>
        <li>Figma</li>
        <li>Supabase</li>
        <li>SEO</li>
      </ul>
    </div>

    <div>
      <h3>Languages</h3>
      <ul>
        <li>Danish</li>
        <li>Italian</li>
        <li>English</li>
      </ul>
    </div>
  </article>

  <ScrollingContainer cardContent={cardContent} />

  <article class="content">
    <div class="mails">
      <div class="mails_grid">
        <h2>Contact me</h2>

        <div class="kontakt_oplysninger">
          <a href="https://www.linkedin.com/in/ester-piazza-koldbye-3698181b9/" target="_blank"> <Icon name="linked" /> <span>Ester Piazza-Koldbye</span></a>
          <a href="mailto:ester.piazza.koldbye@gmail.com?"> <Icon name="mail" /> <span>ester.piazza.koldbye@gmail.com</span></a>
          <a href="tel:+4528923400"> <Icon name="phone" /> <span>+45 28 92 34 00</span></a>
        </div>
      </div>

      <!-- <div class="billede">
        <img src="https://espi0001.github.io/portfolio_site/img/om_mig/om_mig3.png" alt="mig" />
      </div> -->
    </div>
  </article>
</MainLayout>

<style>
  section {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
  }
  article {
    grid-column: content;
    display: grid;
  }

  .om-mig,
  .projekter {
    background: var(--sort);
    article h3,
    article a {
      color: var(--baggrund);
    }
  }
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-s-m);
    color: var(--baggrund);
    p {
      color: var(--baggrund);
    }
    @media (width < 600px) {
      display: block;
    }
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-s-m);
  }
  .mails {
    display: flex;
    flex-direction: column;

    padding-top: 80px;
    margin-bottom: 125px;
  }
  .content {
    padding-top: 8%;
  }
  h1 {
    padding-bottom: 44px;
  }
  .kontakt_oplysninger {
    a {
      display: flex;
    }
    svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    .mails {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 80px;
    }
  }

  @media screen and (min-width: 1024px) {
    .mails {
      padding-top: 125px;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
