---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="content">
    <div class="logo">
      <a href="/"> <Icon name="LogoWhite" /></a>
    </div>
    <div class="sociale_links">
      <a href="https://www.linkedin.com/in/ester-piazza-koldbye-3698181b9/" target="_blank"> <Icon name="linked" /></a>
      <a href="https://github.com/espi0001" target="_blank"> <Icon name="github" /></a>
      <a href="mailto:ester.piazza.koldbye@gmail.com?"> <Icon name="mail" /></a>
      <a href="tel:+4528923400" target="_blank"> <Icon name="phone" /></a>
    </div>
    <hr />
    <p>&copy; 2024 Ester Piazza-Koldbye</p>
  </div>
</footer>

<style>
  @layer components {
    footer {
      display: grid;
      grid-template-columns: var(--layout-grid);
      padding: var(--space-s-m);
      background: var(--baggrund);
      color: var(--sort);
      align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      grid-column: content;
      align-items: center;
      gap: var(--space-s-m);
    }
    .logo {
      max-width: 55px;
      height: auto;

      a {
        color: var(--sort);
      }
    }
    .sociale_links {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
      a {
        background-color: var(--baggrund);
        border-radius: 50px;
        width: 40px;
        height: auto;

        svg {
          transition: color 0.4s ease-in-out;
          &:hover {
            color: var(--brun);
          }
        }
      }
    }
    hr {
      width: 100%;
      border: none;
      border-top: 1px solid var(--sort);
    }

    p {
      color: var(--sort);
    }
  }
</style>
