---

---

<header>
  <div class="logo">
    <a href="/">ezza</a>
  </div>

  <nav>
    <ul class="menu">
      <hr />
      <li><a href="#info">About me</a></li>
      <hr />
      <li><a href="#skills">Skills</a></li>
      <hr />
      <li><a href="#projects">Projects</a></li>
      <hr />
      <li><a href="#contact">Contact me</a></li>
    </ul>

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>

<style>
  @layer components {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      font-size: var(--step-1);

      @media (width > 480px) {
        position: absolute;
        width: 100%;
      }
    }
    .logo {
      z-index: 5;
      a {
        color: var(--sort);

        font-size: var(--step-2);
        font-family: var(--font_header);
      }
    }
    nav {
      display: flex;
      align-items: center;
    }

    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      flex-wrap: nowrap;
      align-items: center;
      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        display: block;
        text-align: end;
        position: relative;
        font-size: var(--step-0);
      }

      a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: var(--sort);
        left: 0;
        bottom: -2px;
        transition: width 0.3s ease;
      }

      a:hover::after {
        width: 100%;
      }
    }

    hr {
      display: none;
    }
    .burger {
      width: 30px;
      height: 20px;
      cursor: pointer;

      .line {
        width: 100%;
        height: 2px;
        background-color: var(--sort);
        margin-bottom: 5px;
        transition: 0.2s linear;
      }
    }

    .burger {
      display: none;
    }
    /* __________________________ Tablet delen __________________________ */
    /* Reglen gælder til og med 1024px */
    @media screen and (max-width: 1024px) {
      .menu {
        display: none;
        text-align: start;
      }
      .burger {
        display: block;
        text-align: start;
        z-index: 1;
      }

      .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        transition: 0.2s linear;
      }

      .burger.active .line:nth-child(2) {
        opacity: 0;
        transition: 0.15s linear;
      }

      .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        transition: 0.2s linear;
      }

      nav.active .menu {
        display: block;
        background-color: var(--baggrund);
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 1;
        text-align: start;
        padding-top: 100px;
      }

      nav.active .menu li {
        margin: 10px 20px;
        text-align: start;
      }

      nav.active .menu a {
        /* font-size: var(--font_size_large); */
        text-align: start;
      }
      hr {
        display: block;
        border-image: var(--sort) 1;
      }
    }

    /* __________________________ Mobil delen __________________________ */
    /* Reglen gælder til og med 768px */
    @media screen and (max-width: 768px) {
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
